<div class="container" style="text-align: center">
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <label for="distrcit">District</label>
        <select id="distrcit" class="form-control form-control-sm" (change)="onDistrictSelect($event.target.value)">
          <option>Select District</option>
          <option Value="Dhaka">Dhaka</option>
          <option value="Faridpur">Faridpur</option>
          <option value="Gazipur">Gazipur</option>
          <option value="Gopalganj">Gopalganj</option>
          <option value="Madaripur">Madaripur</option>
          <option value="Manikganj">Manikganj</option>
          <option value="Munshiganj">Munshiganj</option>
          <option value="Narsingdi">Narsingdi</option>
          <option value="Kishoreganj">Kishoreganj</option>
          <option value="Narayanganj">Narayanganj</option>
          <option value="Rajbari">Rajbari</option>
          <option value="Shariatpur">Shariatpur</option>
          <option value="Tangail">Tangail</option>
        </select>
      </div>

    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <label for="Dataset1">Dataset 1</label>
        <select id="Dataset1" [(ngModel)]="dataset1name" [name]="dataset1name" class="form-control form-control-sm">
          <option *ngFor="let dataset of allDatasetNames" [value]="dataset">{{dataset}}</option>
        </select>
      </div>

    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="Dataset2">Dataset 2</label>
        <select id="Dataset2" [(ngModel)]="dataset2name" [name]="dataset2name" class="form-control form-control-sm">
          <option *ngFor="let dataset of allDatasetNames" [value]="dataset">{{dataset}}</option>
        </select>
      </div>

    </div>

    <div class="col-sm-3">
      <div class="form-group" style="margin-top: 25px">
        <button class="form-control btn-info" (click)="showComparison()">Show Comparison</button>
      </div>

    </div>
  </div>

  <div *ngIf="comparisionResult">
    <div style="text-align: center">
      <h4>Result for {{currentDistrict}}</h4>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <table class="table-responsive table-bordered">
          <tr>
            <td>Dataset Title</td>
            <td>{{comparisionResult[0].dataset}}</td>
          </tr>
          <tr>
            <td>Percent Of Green</td>
            <td>{{comparisionResult[0].greennessValue | number : '1.2-2'}}%</td>
          </tr>
          <tr>
            <td>Avg NDVI</td>
            <td>{{comparisionResult[0].avgNdvi |  number : '1.2-2'}}</td>
          </tr>
          <tr>
            <td>Green Areas</td>
            <td>
              <img [src]="comparisionResult[0].image" style="height: 300px;width: 300px">
            </td>
          </tr>
        </table>
      </div>
      <div class="col-sm-6">
        <table class="table-responsive table-bordered">
          <tr>
            <td>Dataset Title</td>
            <td>{{comparisionResult[1].dataset}}</td>
          </tr>
          <tr>
            <td>Percent Of Green</td>
            <td>{{comparisionResult[1].greennessValue | number : '1.2-2'}}%</td>
          </tr>
          <tr>
            <td>Avg NDVI</td>
            <td>{{comparisionResult[1].avgNdvi| number : '1.2-2'}}</td>
          </tr>

          <tr>
            <td>Green Areas</td>
            <td>
              <img [src]="comparisionResult[1].image" style="height: 300px;width: 300px">
            </td>
          </tr>
        </table>
      </div>
    </div>

  </div>

</div>
