<div *ngIf="isShowSidebar">
  <nav id="sidebar">
    <ul class="list-unstyled components">
      <li>

        <a class="dropdown-toggle" (click)="showLi($event.target)">Comparison</a>
        <ul class="collapse list-unstyled show">
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="yearrangecompersion">Time Series Analysis </a>
          </li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="monthbasedcompersion">Single District (Monthly) </a>
          </li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="zilabasedcompersion">Distrcit Based</a>
          </li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="datasetcomperison">Two Dataset at same date</a>
          </li>


        </ul>
      </li>
      <li>
        <a routerLink="">Home</a>
      </li>
    </ul>
  </nav>
</div>
