<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Business Frontpage - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <!--  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->

  <!-- Custom styles for this template -->


</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Start Bootstrap</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Header -->
<header class="bg-success py-5 mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 text-white mt-5 mb-2">Greenness Analysis Tool</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 text-white">
        <h4>Districts</h4>
        <h4>{{noOfDistricts}}</h4>
      </div>
      <div class="col-sm-3 text-white">
        <h4>Years</h4>
        <h4>{{noOfYear}}</h4>
      </div>
      <div class="col-sm-3 text-white">
        <h4>Datasets</h4>
        <h4>{{noOfDataset}}</h4>
      </div>
      <div class="col-sm-3 text-white">
        <h4>Images</h4>
        <h4>{{noOfImages}}</h4>
      </div>
    </div>
  </div>

</header>

<!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-md-8 mb-5">
      <h2>Our Study Area- Dhaka  <a class="btn btn-success btn-sm" (click)="onViewAnalyticsClick()">View Analytics &raquo;</a> </h2>
      <hr>
      <img src="../../../assets/dhaka.png" alt="" srcset="" style="height: 500px;width: 500px">

    </div>
    <div class="col-md-4 mb-5">
      <h2>Types Of Analysis</h2>
      <hr>
      <ul>
        <li>Comparison Between Two Datasets</li>
        <li>Comparision of adsadas</li>
        <li>Comparision of adsadas</li>
        <li>Comparision of adsadas</li>
      </ul>
    </div>
  </div>
  <!-- /.row -->
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <h1 style="text-align: center">Technology Used</h1>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-md-4 mb-5">
      <img src="../../../assets/python.png" style="max-height: 250px;max-width: 250px">
    </div>
    <div class="col-md-4 mb-5">
      <img src="../../../assets/spring-boot-logo.png" style="max-height: 250px;max-width: 250px">
    </div>
    <div class="col-md-4 mb-5">
      <img src="../../../assets/angular.png" style="max-height: 250px;max-width: 250px">
    </div>
  </div>
<!--   /.row-->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
  </div>
  <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<!--<script src="../../../../vendor/jquery/jquery.min.js"></script>-->
<!--<script src="../../../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->

</body>

</html>
