<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Business Frontpage - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <!--  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->

  <!-- Custom styles for this template -->


</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Satellite Remote Sensing</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
<!--    <div class="collapse navbar-collapse" id="navbarResponsive">-->
<!--      <ul class="navbar-nav ml-auto">-->
<!--        <li class="nav-item active">-->
<!--          <a class="nav-link" href="#">Home-->
<!--            <span class="sr-only">(current)</span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">About</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Services</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Contact</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
  </div>
</nav>

<!-- Header -->
<header class="bg-success py-5 mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 text-white mt-5 mb-2">Greenness Analysis Tool</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 text-white">
        <h4>Districts</h4>
        <h4>{{noOfDistricts}}</h4>
      </div>
      <div class="col-sm-3 text-white">
        <h4>Years</h4>
        <h4>{{noOfYear}}</h4>
      </div>
      <div class="col-sm-3 text-white">
        <h4>Datasets</h4>
        <h4>{{noOfDataset}}</h4>
      </div>
      <div class="col-sm-3 text-white">
        <h4>Images</h4>
        <h4>{{noOfImages}}</h4>
      </div>
    </div>
  </div>

</header>

<!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-md-8 mb-5">
      <h2>Our Study Area- Dhaka  <a class="btn btn-success btn-sm"  style="color: white" (click)="onViewAnalyticsClick()">View Analytics &raquo;</a> </h2>
      <hr>
<!--      <img src="../../../assets/dhaka.png" (click)="onImageClick($event)" alt="" srcset="" style="max-height: 500px;max-width: 500px">-->
      <div class="map"
           leaflet
           [leafletOptions]="options"
           [leafletLayersControl]="layersControl">
      </div>

    </div>
    <div class="col-md-4 mb-5">
      <h2>Types Of Analysis</h2>
      <hr>
      <ul>
        <li>
          <a href="http://localhost:4200/analytis/yearrangecompersion">Time Series Analysis</a>
        </li>
        <li>
          <a href="http://localhost:4200/analytis/monthbasedcompersion">Single District (Monthly)</a>
        </li>
        <li>
          <a href="http://localhost:4200/analytis/zilabasedcompersion">District based Comparison</a>
        </li>
        <li>
          <a href="http://localhost:4200/analytis/datasetcomperison">Comparison between two district at same date</a>
        </li>

      </ul>
    </div>
  </div>
  <!-- /.row -->
  <div class="row justify-content-center" style="margin-top: 25%">
    <div class="col-sm-12">
      <h1 style="text-align: center">About</h1>
    </div>
    <hr>
  </div>


  <div class="row justify-content-center" style="margin-bottom: 5%">
   <div class="col-sm-10">
     <i>
       Greenness analysis refers to the analysis of forestation and green areas of a certain area.
       Remote sensing using satellite imaging is by far the most useful and easy wayto do it.
       The purpose of this study is to create a systemic database of all 13 districts of Dhaka
       Division for greenness analysis. In this tool we demonstrate how the greenness of 13 districts in Dhaka Division is changed
       in last 15 years using Moderate-resolution Imaging Spectroradiometer(MODIS) Normalized Difference
       Vegetation Index (NDVI) data. NDVI values from 2001-2015 of MODIS are used to extract the greenness
       of this regions and to show greennesshas changed
     </i>
   </div>
<!--    <div class="col-md-4 mb-5">-->
<!--      <img src="../../../assets/python.png" style="max-height: 250px;max-width: 250px">-->
<!--    </div>-->
<!--    <div class="col-md-4 mb-5">-->
<!--      <img src="../../../assets/spring-boot-logo.png" style="max-height: 250px;max-width: 250px">-->
<!--    </div>-->
<!--    <div class="col-md-4 mb-5">-->
<!--      <img src="../../../assets/angular.png" style="max-height: 250px;max-width: 250px">-->
<!--    </div>-->
  </div>
<!--   /.row-->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Greenness Analysis Tool 2020</p>
  </div>
  <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<!--<script src="../../../../vendor/jquery/jquery.min.js"></script>-->
<!--<script src="../../../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->

</body>

</html>
