<div style="top: 0;height:100%; width:100%; z-index: 1100; position: fixed; background: black; opacity: 0.4;"
     [hidden]="!display">
  <!-- <div class="modal-body" style="position: absolute; top: 45%; left: calc(50% - 25px);">
    <img style="height:50px" src="assets/images/loading-indicator.gif" />
  </div> -->
  <div class="lds-roller" style="left: calc(50% - 32px);top: calc( 50% - 96px );">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
